CMakeFiles/
.cproject
.project
.idea/
.vscode
build/
output/
cmake-build-*/
CMakeCache.txt
uninstall.cmake
*/cmake_install.cmake
*.pc
*.so.*
*.so
/cppcheck_report.txt
/cppcheck_log.txt
clion-environment/
Source/Config.json
/clion-environment/WPEFrameworkPlugins/RemoteControl/RemoteControl.json
/clion-environment/WPEFrameworkPlugins/Commander/Commander.json
/clion-environment/WPEFrameworkPlugins/DeviceInfo/DeviceInfo.json
/clion-environment/WPEFrameworkPlugins/LocationSync/LocationSync.json
/clion-environment/WPEFrameworkPlugins/Monitor/Monitor.json
/clion-environment/WPEFrameworkPlugins/TimeSync/TimeSync.json
/clion-environment/WPEFrameworkPlugins/TraceControl/Tracing.json
/clion-environment/WPEFrameworkPlugins/WebProxy/WebProxy.json
/clion-environment/WPEFrameworkPlugins/WebServer/WebServer.json
/clion-environment/WPEFrameworkPlugins/WebShell/WebShell.json
workspace/
/.vs
/artifacts/Debug
/Source/protocols
*.user
/artifacts/Release
*.pyc
Source/com/ProxyStubs_Communicator.cpp
Source/interfaces/ProxyStubs_AVNClient.cpp
Source/interfaces/ProxyStubs_Browser.cpp
Source/interfaces/ProxyStubs_Composition.cpp
Source/interfaces/ProxyStubs_ContentDecryption.cpp
Source/interfaces/ProxyStubs_DeviceIdentification.cpp
Source/interfaces/ProxyStubs_Dictionary.cpp
Source/interfaces/ProxyStubs_DisplayInfo.cpp
Source/interfaces/ProxyStubs_DsgccClient.cpp
Source/interfaces/ProxyStubs_External.cpp
Source/interfaces/ProxyStubs_Guide.cpp
Source/interfaces/ProxyStubs_InputPin.cpp
Source/interfaces/ProxyStubs_KeyHandler.cpp
Source/interfaces/ProxyStubs_Math.cpp
Source/interfaces/ProxyStubs_Netflix.cpp
Source/interfaces/ProxyStubs_Packager.cpp
Source/interfaces/ProxyStubs_Performance.cpp
Source/interfaces/ProxyStubs_PlayGiga.cpp
Source/interfaces/ProxyStubs_PlayerInfo.cpp
Source/interfaces/ProxyStubs_Power.cpp
Source/interfaces/ProxyStubs_Provisioning.cpp
Source/interfaces/ProxyStubs_RPCLink.cpp
Source/interfaces/ProxyStubs_RemoteControl.cpp
Source/interfaces/ProxyStubs_RtspClient.cpp
Source/interfaces/ProxyStubs_Stream.cpp
Source/interfaces/ProxyStubs_TestController.cpp
Source/interfaces/ProxyStubs_TestUtility.cpp
Source/interfaces/ProxyStubs_VoiceHandler.cpp
Source/interfaces/ProxyStubs_VolumeControl.cpp
Source/interfaces/ProxyStubs_WebDriver.cpp
Source/interfaces/ProxyStubs_WebPA.cpp
Source/interfaces/ProxyStubs_WebServer.cpp
Source/interfaces/json/JVolumeControl.h
Source/interfaces/json/JWebBrowser.h
Source/interfaces/json/JsonData_BluetoothControl.h
Source/interfaces/json/JsonData_BluetoothRemoteControl.h
Source/interfaces/json/JsonData_Browser.h
Source/interfaces/json/JsonData_Compositor.h
Source/interfaces/json/JsonData_DHCPServer.h
Source/interfaces/json/JsonData_DIALServer.h
Source/interfaces/json/JsonData_DeviceIdentification.h
Source/interfaces/json/JsonData_DeviceInfo.h
Source/interfaces/json/JsonData_DisplayInfo.h
Source/interfaces/json/JsonData_FirmwareControl.h
Source/interfaces/json/JsonData_IOConnector.h
Source/interfaces/json/JsonData_InputSwitch.h
Source/interfaces/json/JsonData_LocationSync.h
Source/interfaces/json/JsonData_Messenger.h
Source/interfaces/json/JsonData_Monitor.h
Source/interfaces/json/JsonData_Netflix.h
Source/interfaces/json/JsonData_NetworkControl.h
Source/interfaces/json/JsonData_OCDM.h
Source/interfaces/json/JsonData_Packager.h
Source/interfaces/json/JsonData_PlayerInfo.h
Source/interfaces/json/JsonData_Power.h
Source/interfaces/json/JsonData_Provisioning.h
Source/interfaces/json/JsonData_RemoteControl.h
Source/interfaces/json/JsonData_SecureShellServer.h
Source/interfaces/json/JsonData_SecurityAgent.h
Source/interfaces/json/JsonData_StateControl.h
Source/interfaces/json/JsonData_Streamer.h
Source/interfaces/json/JsonData_SystemCommands.h
Source/interfaces/json/JsonData_TestController.h
Source/interfaces/json/JsonData_TestUtility.h
Source/interfaces/json/JsonData_TimeSync.h
Source/interfaces/json/JsonData_TraceControl.h
Source/interfaces/json/JsonData_VolumeControl.h
Source/interfaces/json/JsonData_WebBrowser.h
Source/interfaces/json/JsonData_WifiControl.h
Source/interfaces/json/JsonEnum_BluetoothControl.cpp
Source/interfaces/json/JsonEnum_BluetoothRemoteControl.cpp
Source/interfaces/json/JsonEnum_Browser.cpp
Source/interfaces/json/JsonEnum_Compositor.cpp
Source/interfaces/json/JsonEnum_DisplayInfo.cpp
Source/interfaces/json/JsonEnum_FirmwareControl.cpp
Source/interfaces/json/JsonEnum_Messenger.cpp
Source/interfaces/json/JsonEnum_Netflix.cpp
Source/interfaces/json/JsonEnum_NetworkControl.cpp
Source/interfaces/json/JsonEnum_PlayerInfo.cpp
Source/interfaces/json/JsonEnum_Power.cpp
Source/interfaces/json/JsonEnum_RemoteControl.cpp
Source/interfaces/json/JsonEnum_StateControl.cpp
Source/interfaces/json/JsonEnum_Streamer.cpp
Source/interfaces/json/JsonEnum_TestUtility.cpp
Source/interfaces/json/JsonEnum_TraceControl.cpp
Source/interfaces/json/JsonEnum_WifiControl.cpp
Source/ocdm/ProxyStubs_OCDM.cpp
